<%- include('../partials/header.ejs') %>

<div class="container">

    <h2>Perfil de <%= userLogged.name %></h2>
    <%- include('forms/password-edit.ejs') %>

    <small>Usuário cadastrado em <%= moment(userLogged.createdAt).format('LLL') %> e editado em
        <%= moment(userLogged.updatedAt).format('LLL') %></small>

</div>

<%- include('../partials/footer.ejs') %>